<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag "profile.jpeg" %>
    </div>

    <div id="content">
        <h1>It's Mr. Stick Figure</h1>
        <p>Synth narwhal VHS, paleo slow-carb air plant subway tile man bun bushwick craft beer. Green juice brunch franzen aesthetic snackwave retro fam health goth. Bushwick polaroid organic tumeric, raw denim paleo authentic enamel pin pop-up taxidermy swag everyday carry occupy pour-over. Literally cold-pressed marfa knausgaard hammock hexagon enamel pin pok pok offal pabst chambray lyft. Mustache fanny pack bespoke hammock taiyaki.
        Marfa fingerstache prism plaid raw denim, master cleanse pug blue bottle gochujang live-edge. Copper mug meh fam bespoke photo booth dreamcatcher, af glossier gochujang hoodie neutra meggings. Aesthetic letterpress mustache, gastropub iPhone plaid messenger bag DIY trust fund viral selvage pork belly truffaut try-hard green juice. Literally vape meditation farm-to-table hashtag adaptogen fixie single-origin coffee venmo hammock biodiesel actually direct trade.</p>
    </div>

</div>